<nav class="ui inverted menu">
  <header class="header item"><a href="/home"> Home Page </a></header>
  <div class="right menu">
    <a id="home"   class= "item" href="/home"> Home Page</a>
    <a id="poi_create" class= "item" href="/poi/create"> Create POI</a>
    {{#if _user.admin}}
      <a id="site_users" class= "item" href="/admin/users"> Site Users</a>
      <a id="categories" class= "item" href="/admin/category"> Categories</a>
    {{/if}}
    <a id="settings" class= "item" href="/settings"> Settings</a>
    <a id="logout" class= "item" href="/logout"> Logout</a>
  </div>
</nav>
<script>
  $("#{{_id}}").addClass("active item");
</script>
