{{> mainmenu _id="categories" _user=user}}

<div class="ui raised segment">
  <form class="ui form" action="/admin/category" method="POST">
      <div class="two fields">
        <div class="field">
          <label>Add Category</label>
          <input type="text" name="name" placeholder="Category">
        </div>
        <div class="field">
          <label> &nbsp;</label>
          <button class="ui positive button">Submit</button>
        </div>
    </div>
  </form>
</div>

<diV class="ui raised segment">
  {{#each categories}}
    <div class="ui segment">
    {{name}}
    </div>
  {{/each}}
</diV>