{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/homer.png" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Need a new hobby. </header>
      <p> Come see all the points around that can be seen. </p>
    </article>
  </div>
</section>