{{> mainmenu _id="site_users" _user=user}}
<table class="ui celled table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th class="right aligned collapsing"></th>
  </tr>
  </thead>
  <tbody>
  {{#each users}}
    <tr>
      <td>{{firstName}} {{lastName}}</td>
      <td>{{email}}</td>
      <td class="right aligned collapsing">
        <button class="ui red labeled icon button" onclick="location.href=`/admin/delete/{{_id}}`">
          <i class="trash icon"></i>
          Delete
        </button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>